/* Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Mulish", sans-serif;
}


.containet{
    width: 1440px;
    max-width: 1440px;
    margin: auto;  
    padding: 0 30px; 
}



/* header */
.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     box-shadow: 0 5px 10px #9a9ab01a;

}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__text{
    font-size: 24px;
    font-weight: 700;
}


.nav{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__text{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}


.nav__text4{
    font-size: 12px;
    font-weight: 400;
    color: #9A9AB0;
}


/* hero */

.hero{
    display: flex;
    justify-content: space-between;
}

.hero__box{
    width: 112px;
    height: 100vh;
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 20px #9a9ab01a;

}


.hero__box--img{
    display:block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 50px auto;
}

.hero__box--img2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px auto 50px auto;
}



/* hero2 */
.hero2{
    width: 832px;
    height: 1125px;
    box-shadow: 0 0 40px #42424217;
    border-radius: 8px;
    margin-top: 40px;
    padding: 24px 16px;
}


.qutii{
    width: 800px;
    height: 40px;
    background-color: #F7F7FC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 35px;
    border-radius: 10px;
}


.quti{
    display: flex;
    align-items: center;
    gap: 10px;
}


.quti__paragrf{
    font-size: 14px;
    font-weight: 400;
    color: #9A9AB0;
}

.lii{
    display: flex;
    align-items: center;
    gap: 120px;
    justify-content: center;
}


.lii__lii{
    font-size: 16px;
    font-weight: 700;
}

.lii__li{
    font-size: 16px;
    font-weight: 700;
    color: #9A9AB0;
}

.edf{
    width: 800px;
}



#card{
    width: 100%;
    height: auto;
    display:inline-flex;
    justify-content: space-between;
    gap: 16px;
    padding: 30px 0;
}

.wewe{
    width: 256px;
    height: 286px;
    padding: 13px;
    border: 2px solid #E2E2EA;
    border-radius: 8px;
}

.imgs{
    width: 240px;
    height: 166px;
    border-radius: 8px;
}

.textr{
    font-size: 16px;
    font-weight: 700;
    color: #11142D;
    margin-top: 8px;
    margin-bottom: 10px;
}


.textre{
    font-size: 16px;
    font-weight: 700;
    color: #42BDA1;
}