/* Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Mulish", sans-serif;
}


.containet{
    width: 1440px;
    max-width: 1440px;
    margin: auto;  
    padding: 0 30px; 
}



/* header */
.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     box-shadow: 0 5px 10px #9a9ab01a;

}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__text{
    font-size: 24px;
    font-weight: 700;
}


.nav{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__text{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}


.nav__text4{
    font-size: 12px;
    font-weight: 400;
    color: #9A9AB0;
}


/* hero */

.hero{
    display: flex;
    justify-content: space-between;
}

.hero__box{
    width: 112px;
    height: 200vh;
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 20px #9a9ab01a;

}


.hero__box--img{
    display:block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 50px auto;
}

.hero__box--img2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 900px auto 50px auto;
}



/* index2 */

.box{
    width: 87%;
    margin: 30px;
}

.displey__flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.box__flex{
    width: 270px;
    height: 102px;
    border-radius: 8px;
    box-shadow: 0 0 40px #42424217;
    padding: 24px 16px;
}

.text__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fd{
    margin-bottom: 16px;
}

.text__flex--texts{
    font-size: 16px;
    font-weight: 700;
}


.text__flex--text{
    font-size: 16px;
    font-weight: 700;
}


.text__flex--paragrf{
    font-size: 16px;
    font-weight: 700;
    color: #42BDA1;
}


.fdd{
    color: #F04461;
}


/* flex */
.file{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.treding{
    width: 832px;
    height: 611px;
    border-radius: 8px;
    box-shadow: 0 0 40px #42424217;
    padding: 24px 26px;
    position: relative;
}

.treding__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.treding__text{
    font-size: 16px;
    font-weight: 700;
}

.flex{
    display: flex;
    align-items:center;
    gap: 30px;
}

.flex__box{
    width: 169px;
    height: 40px;
    background: none;
    border-radius: 8px;
    border: 2px solid #5541D7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
}

.flex__box--text{
    font-size: 16px;
    font-weight: 700;
    color:#5541D7 ;
}


.hj{
    margin-top: 24px;
}


.treding__box--text{
    font-size: 24px;
    font-weight: 700;
}


.gf{
    text-align: right;
}

.treding__box--paragrf{
    font-size: 16px;
    font-weight: 600;
    color: #9A9AB0;
}


.treding__box--paragrff{
    font-size: 14px;
    font-weight: 600;
    color: #9A9AB0;
    display: flex;
}


.treding__boxx{
    display: flex;
    align-items: center;
}

.jd{
    margin-bottom: 30px;
    
    justify-content: space-between;
}

.imgs{
    position: absolute;
    z-index: 1;
    margin-top: 218px;
    margin-left: 140px;
}


/* hero3 */
.hero3{
    width: 350px;
    height: 370px;
    box-shadow: 0 0 40px #42424217;
    border-radius: 8px;
    padding: 30px 16px;
}

.hero3__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.hero3__text--text{
    font-size: 16px;
    font-weight: 700;
}


.hero3__box{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero3__text--paragrf{
    font-size: 16px;
    font-weight: 700;
    color: #F04461;
}


.mone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.mone__text{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.mone__paragrf{
    font-size: 16px;
    font-weight: 600;
    color: #42BDA1;
}


.hero35{
    width: 350px;
    height: 206px;
    box-shadow: 0 0 40px #42424217;
    border-radius: 8px;
    margin-top: 34px;
    padding: 20px 18px;
}

.displeyflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.hero35__text{
    font-size: 16px;
    font-weight: 700;
    color: #9A9AB0;
}

.hero35__paragrf{
    font-size: 16px;
    font-weight: 600;
}

.displeyflexx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.hero35__paragrff{
    font-size: 24px;
    font-weight: 700;
}


.userw{
    width: 1200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 40px #42424217;
    padding: 30px 26px;
}

.userw__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
}

.flex2{
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #F7F7FC;
}

.flex3{
    height: 64px;
    display: flex;
    align-items: center;
}

.torbuchag{
    text-align: center;
    width: 67px;
}



.torbuchagg{
    width: 258px;
    padding: 0 30px;
}

.torbuchaggg{
    width: 130px;
    padding: 0 30px;
}


.torbuchagggg{
    width: 194px;
    padding: 0 30px;
}


.torbuchaggggg{
    width: 194px;
    padding: 0 30px;
}


.torbuchagggggg{
    width: 194px;
    padding: 0 30px;
}


.torbuchagggggg{
    width: 258px;
    padding: 0 30px;
}

.torbuchaggggggg{
    width: 60px;
    text-align: center;
}


.qwert{
    font-size: 16;
    font-weight: 400;
    color: #11142D;
}